@import '../../App.css';

body {
  min-height: 700px;
}

.container-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  background-color: var(--themeWhite);
  margin: 20px 7% 0;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--themeNavyDark);
  box-shadow: 9px 8px 19px -1px rgba(0,0,0,0.34);
}

.table-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  background-color: var(--themeWhite);
  border-radius: 5px;
  margin-top: 40px;
}

.table-filter {
  padding: 10px;
  width: 50%;
  outline-color: 1px solid var(--themeNavyMedium);
  border: 1px solid var(--themeNavyMedium);
  border-radius: 5px;
  color: var(--themeNavyDark);
  font-size: 16px;
}

.add-product {
  box-sizing: border-box;
  background-color: var(--themeGreen);
  color: var(--themeWhite);
  padding: 9px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.add-product:hover {
  background-color: #1cc09fb3;
}

.table thead tr th {
  font-weight: 500;
  padding: 15px;
  background-color: var(--themeNavyMedium);
  color: var(--themeWhite);
}

.th1 {
  width: 200px;
}

.th2 {
  width: 400px;
}

.th3 {
  width: 80px;
}

.th4 {
  width: 150px;
}

.table tbody tr td, .table thead tr th {
  border-width: 1px;
  border-style: solid;
  border-color: var(--themeGrayLight);
}

.table td {
  max-width: 400px;
  height: 40px;
  padding: 0px 15px;
}

.table tbody tr:hover {
  background-color: var(--themeGreen);
}

.table .btn-details {
  text-decoration: none;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  background-color: var(--themeBlue);
  color: var(--themeWhite);
  cursor: pointer;
  padding: 10px 20px;
  white-space: nowrap;
}

.table .btn-details:hover {
  background-color: #006097;
}